#home{
    display: flex;
    margin-left: 15%;
    margin-top: 1%;
    font-family: sans-serif;
    font-weight: lighter;
}
.online{
    margin-left: 1%;
    font-family: sans-serif;
    font-weight: lighter;
    color: rgb(128, 123, 123);
    font-size: 12px;
    margin-top: 1.3%;

}
.symbol{
    margin-left: 1%;
    font-family: sans-serif;
    font-weight: lighter;
    color: rgb(128, 123, 123);
}
#orderonline{
    height:180px ;
    width: 850px;
    margin-left: 15%;
    margin-top: 1%;
    background-color: #10847E;
    border-radius: 20px;
}
.text{
    font-family: sans-serif;
    margin-left: 15%;
    margin-top: 1%;
   font-size: 26px;
   color: #879299;

}
.search{
    display: flex;
    height: 50px;
    margin-top: 1%;
}
.img{
    height: 20px;
    margin-top:15px;
    margin-left: 2%;

   
}
.paragraph1{
    margin-left: 2%;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    margin-top: 2%;
    

}
.paragraph2{
    margin-left: 2%;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    margin-top: 2%;
}
.paragraph3{
    margin-left: 2%;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    margin-top: 2%;
}
.med{
    margin-left: 2%;
    font-size: 20px;
    color: aliceblue;
}
#searchkey{
    display: flex;
}
#pincode{
    font-size: 20px;
    margin-left: 2%;
    width: 25%;
    height: 48.5px;
    font-family: sans-serif;
    color: #10847E;
    padding-left: 1%;
    border: none;
}
.input{
    width: 55%;
    height: 48.5px;
    margin-right:6%;
    font-size: 20px;
    padding-left: 1%;
    font-family: sans-serif;
    border: none;
  position: relative;
}
#searchicon{
position: absolute;
margin-left: 43.3%;
font-size:25px;
background-color: #dededf;
color: rgb(90, 93, 95);
margin-top: 1px; 
border: none;
width: 40px;
height: 35px;
text-align: center;
padding-top: 12px;
}
.head1{
    margin-left: 15%;
    margin-top: 2%;
    color: rgb(83, 78, 78);
}
.head1~p{
    margin-left: 15%;
    text-align: justify;
    color: #879299;
}
.head1~p~ul{
    margin-left: 14%;
    text-align: justify;
    color: #879299;
}
#searchparent1{
    height: 150px;
    width: 70%;
   border: 0.5px solid rgb(161, 156, 156);
    margin-left: 15%;
    display: flex;
    margin-top: 2%;
   
}
.searchchild1{
    height: 30px;
    width: 100%;
}
.searchchild1>h4{
  text-align: left;
   
   color: #515557;
   height: 30px;
   margin-left: 6%;
   margin-top: -8%;
}
#icon2{
    height: 30px;
    width:20px;  
    padding-top: 14px;
    color: rgb(134, 134, 134);
}
#icon3{
    height:100px;
    width: 100px;
    margin-top: 0%;
}
#icon3~p{
    margin-left: 2%;
    text-align: justify;
    color: #879299;
}
#searchparent2{
    height: 270px;
    width: 70%;
   border: 0.5px solid rgb(161, 156, 156);
    margin-left: 15%;
    display: flex;
    margin-top: 2%;
}
#icon3~ul{
    margin-left: 1%;
    text-align: justify;
    color: #879299;
}
#searchparent3{
    height: 240px;
    width: 70%;
   border: 0.5px solid rgb(161, 156, 156);
    margin-left: 15%;
    display: flex;
    margin-top: 2%;
}
#icon3~ol{
    margin-left: 1%;
    text-align: justify;
    color: #879299;
}
#div1{
    height: 120px;
    width: 35%;
    border: 1px solid rgb(145, 138, 138);
    margin-left: 20%;
    margin-top:2%;
    display: flex;
}
#tabletimg
{
    height:60px;
    width:20%;
    margin-top: 5%;
    margin-left: 5%;
}
#tabletname{
    font-size: 18px;
    font-weight: bolder;
    margin-left:3%;
    margin-top: 5%;
    color: #737575;
}
#tabletdiv{
    display: flex;
    margin-left: 35%;
 margin-top: -58px;
}
#tabletprice{
    font-size: 26px;
    margin-left: -5%;
    font-weight: bold;
    color: #323535;
    margin-top: -5px;
}
#tabletstrike{
    font-size: 20px;
   text-decoration: line-through;
    font-weight: bold;
    color: #889191;
    margin-top: 2px;
    margin-left: 2%;
}
#tabletbutton{
    height: 30px;
    width: 12%;
    border-radius: 10px;
    margin-left: 8%;
    background-color: #10847E;
    color: white;
    font-size:16px ;
    border: none;

}


