
        #navbar {
            background-color: #10847e;
            display: flex;
            justify-content: space-around;
            height: 100px;
        }

        #navbar * {
            font-size: 18px;

        }

        #navbar>div {
            display: flex;
            /* justify-content: space-between; */
            align-items: center;
        }

        #mainlogo>div>img {
            width: 70%;
        }

        /* #searchbar *{
        padding: 10px;
    } */
        #searchbar {
            width: 50%;
        }

        #searchbox {
            width: 100%;

        }

        #searchbox>input {
            width: 100%;
            /* margin-left: -25px; */
            border: none;
            padding: 20px;

        }

        #searchbtn>button {
            padding: 20px;
        }

        #pincodearea>select {
            padding: 20px;
            margin-right: -20px;
        }

        #logincart * {
            color: white;
            text-decoration: none;
        }

        /* #logincart {} */
        #slider {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
        }

        #items>img {
            display: none;
            width: 100%;
        }

        #slider i {
            font-size: 40px;
        }

        #container {
            height: 400px;
            margin: auto;
            display: grid;
            grid-template-rows: 40px 320px;
            gap: 30px;
            margin-bottom: 50px;
        }

        #upper {
            justify-content: space-between;
            display: flex;
        }

        #upper>div {
            height: 100%;
            width: 250px;
            justify-content: space-around;
            display: flex;
        }

        #upper>div>div {
            display: flex;
        }

        #healthArticles {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            grid-template-rows: auto;
            line-height: 12px;
            color: gray;
        }

        #image {
            width: 100%;
            border-radius: 10px;
        }

        #readmore {
            color: #10847E;
            font-weight: bold;
        }

        #container2 {
            height: 300px;
            margin: auto;
            border: 1px solid red;
            margin-top: 50px;
            display: grid;
            grid-template-rows: 100%;
            grid-template-columns: repeat(4, 1fr);
            gap: 30px;
        }

        #container2>div {
            border: 1px solid teal;
        }
